<settings>
  <program>
    <frame>true</frame>
    <background>background.jpg</background>
    <mode>2</mode>
    <speed>3.0</speed>
    <delay>300</delay>
  </program>
  <images>
    <image>
       <filename>malbork3.jpg</filename>
      <center>
        <x>990</x>
        <y>500</y>
      </center>
      <size>
        <x>1000</x>
        <y>500</y>
      </size>
      <description>
        Malbork - nocne zwiedzanie
      </description>
      <frame>
        <r>0</r>
        <g>255</g>
        <b>0</b>
      </frame>
    </image>

    <image>
      <filename>malbork.jpg</filename>
      <size>
        <x>400</x>
        <y>203</y>
      </size>
      <description>
        Malbork
      </description>
      <frame>
        <r>255</r>
        <g>0</g>
        <b>0</b>
      </frame>
    </image>

    <image>
      <filename>malbork2.jpg</filename>
      <size>
        <x>333</x>
        <y>444</y>
      </size>
      <description>
        Malbork - z lotu ptaka
      </description>
      <frame>
        <r>0</r>
        <g>0</g>
        <b>255</b>
      </frame>
    </image>

    <image>
      <filename>malbork4.jpg</filename>
      <size>
        <x>333</x>
        <y>444</y>
      </size>
      <description>
        Malbork w czasie zimy
      </description>
      <frame>
        <r>0</r>
        <g>0</g>
        <b>255</b>
      </frame>
    </image>

    <image>
      <filename>malbork5.jpg</filename>
      <size>
        <x>333</x>
        <y>444</y>
      </size>
      <description>
        Kwitnacy Malbork
      </description>
      <frame>
        <r>0</r>
        <g>0</g>
        <b>255</b>
      </frame>
    </image>
    
  </images>
</settings>