<settings>
  <program>
    <frame>true</frame>
    <mode>1</mode>
  </program>
  <images>
    <image>
      <filename>test.jpg</filename>
      <center>
        <x>400</x>
        <y>400</y>
      </center>
      <size>
        <x>300</x>
        <y>250</y>
      </size>
      <rotation>
        12.34
      </rotation>
      <description>
        Za gorami i za lasami bylo sobie zlo.
      </description>
    </image>

    <image>
       <filename>test2.jpg</filename>
      <center>
        <x>300</x>
        <y>300</y>
      </center>
      <size>
        <x>333</x>
        <y>444</y>
      </size>
      <rotation>
        55
      </rotation>
      <description>
        Ojojojojojo
      </description>
    </image>
  </images>
</settings>